h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: $headings-letter-spacing;
}

.text-sm {
  font-size: $font-size-sm;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xlg {
  font-size: 1.75rem;
}
