<footer ...attributes class="text-sm text-muted mt-5 mb-2 d-sm-flex align-items-center justify-content-between px-3">
  <p class="m-0 text-center">&copy;{{this.year}} Out There Labs, Inc.</p>
  <nav class="nav">
    <a class="nav-link text-muted" href="https://www.bitski.com/terms/">Terms</a>
    <a class="nav-link text-muted" href="https://www.bitski.com/privacy/">Privacy</a>
    <a class="nav-link text-muted" href="https://docs.bitski.com/">Docs</a>
    <a class="nav-link text-muted" href="https://twitter.com/bitski">Twitter</a>
    <a class="nav-link text-muted pr-2" href="https://discordapp.com/invite/gqHExpd">Discord</a>
  </nav>
</footer>