<MainJumbotron class="mt-5" />
<div class="grid grid-cols-md-2 grid-cols-lg-3 w-100 mt-5 mb-auto">
  {{#each this.model as |item|}}
    <InventoryItem @item={{item}} />
  {{/each}}
</div>
<h2 class="mt-5 pt-4 mb-3 font-weight-bolder">This demo features:</h2>
<div class="d-md-flex">
  <div class="w-md-50">
    <a href="https://docs.bitski.com/app-wallet/" class="btn btn-secondary text-white mr-2 mb-2">Bitski Enterprise Wallet</a>
    <a href="https://github.com/BitskiCo/example-stripe-nft" class="btn btn-secondary text-white mr-2 mb-2">Merchant Account Integration</a>
    <a href="https://github.com/BitskiCo/example-stripe-nft" class="btn btn-secondary text-white mr-2 mb-2">Purchase NFT Via Credit Card</a>
    <a href="https://docs.bitski.com/getting-started/" class="btn btn-secondary text-white mr-2 mb-2">Bitski User Wallet</a>
  </div>
  <button id="intercom" type="button" class="btn btn-secondary font-weight-bolder text-white rounded-lg btn-lg h3 text-xlg p-3 p-md-4 d-flex align-items-center ml-md-auto my-auto letter-spacing-sm">
    <img src="/assets/svg/chat-bubble.svg" alt="Chat bubble" class="ml-2 mr-4">
    <span class="pr-5">Chat With Us</span>
  </button>
</div>